* {
	margin : 0; 
    padding : 0;
    font-family: Oswald,arial;
    box-sizing: border-box;
}

body {
    background-color : white;
}

#wrapper { 
     max-width: 1200px;
     margin : 0,auto,0,auto;
 }

.simplon {

       height: 200px;
       width : 250px;
       float: left;
 }

.ecole {
	
   	height: 200px;
   	width: 400px;
   	float: right;
 }


h1{
	text-align: center;
	position: relative;
	top: 200px;
	font-size: 40px;
	color: red;
	border-bottom: 2px solid red;
	padding-bottom: 15px;

}

.Formateurs {
	text-align: center;
	position: relative;
	top:300px;
	font-size: 20px;
	padding-bottom: 20px;
	color: red;
	float: left;
	position:absolute;
	 width:150px;
	 height:50px;
	 top: 330px;
	 left:0px; 
     background-color: white;
}

.Apprenants {
	text-align: center;
	position: relative;
	top:300px;
	font-size: 20px;
	padding-bottom: 20px;
	color: red;
	float: left;
	position:absolute;
	 width:150px;
	 height:50px;
	 top: 550px;
	 left:0px; 
     background-color: white;
	
}
.photosF {
	width: 100px;
	height:100px;
	position: relative;
    top: 260px;
    left:-230px;
    margin: 20px 25px;
    border-radius: 50%;
}
.namef {
	position: relative;
	top: 250px;
	background-color: white;
	padding: 10px;
	left: 7px;
	text-align: center;
	margin: 50px;
	bottom: auto;
    top: 180px;
	background-color: white;
}
.photosA {
	width: 100px;
	height:100px;
	position:relative;
    top: 400px;
    left: 10px;
    margin: 0px 0px;
    border-radius: 50%;
    align-items: left;
}